@use "../../../presets" as *;
@use "../../../mixins" as *;

.skill-item {
  background-color: $color-primary;
  min-height: calc(33.333vh - 13.33333px);
  position: relative;
  overflow: hidden;

  &:hover .skill-item__link {
    color: $color-accent;
  }
  &:hover .skill-item__image {
    transform: scale(1.1);
  }
  &:hover .skill-item__overlay {
    opacity: 0.95;
  }

  &__overlay {
    @include abs-position;
    background-color: $color-primary;
    opacity: 0.8;
    transition: opacity 0.5s;
  }
  &__image {
    @include abs-position;
    background-position: 50% 50%;
    background-size: cover;
    transition: transform 0.5s;
  }
  &__title {
    @include abs-position;
    z-index: 1;
    margin: 0;
    font-size: 1.25rem;
    letter-spacing: 0.1em;
  }
  &__link {
    display: flex;
    padding: $gap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: color 0.5s;
  }
}

@for $i from 1 through 9 {
  .skill-item:nth-of-type(#{$i}) {
    grid-area: a#{$i};
  }
}
