@use "../../presets" as *;
@use "../../mixins" as *;
.footer {
  background-color: $color-primary;
  text-align: center;
  padding: ($gap * 3) $gap ($gap * 2);
  &__container {
    @extend %container;
  }
  &__icons {
    display: grid;
    position: relative;
    justify-content: center;
    margin-bottom: calc($gap * 1.75);
    grid-template-columns: repeat(auto-fit, minmax(40px, max-content));

    &::after {
      position: absolute;
      bottom: -$gap;
      left: calc(50% - 75px / 2);
      height: calc($gap / 10);
      width: 75px;
      content: "";
      background-color: $color-light;
    }

    a {
      display: block;
      padding: 8px;
      transition: color 0.5s;
      &:hover,
      &:focus {
        color: $color-accent;
      }
    }

    .fab {
      font-size: 2.25rem;
    }
  }
  &__text {
    padding: $gap;
    span {
      font-weight: 700;
      letter-spacing: 0.0625em;
      &:nth-of-type(1) {
        color: $color-gray;
      }

      &:nth-of-type(2) {
        color: $color-gray-light;
      }
    }
  }
}
