@use "../../presets" as *;
@use "../../mixins" as *;

.header-navbar {
  &__btn {
    display: none;
  }
  &__list {
    padding: 0;
    margin: 0 (-$gap-sm) 0 0;
    list-style: none;
    display: grid;
    gap: $gap;
    grid-template-columns: repeat(auto-fit, minmax(2em, max-content));
    justify-content: end;
  }

  &__link {
    padding: $gap $gap-sm;
    display: block;
    transition: color 0.5s;
    font-size: 1.125rem;

    &:hover {
      color: $color-accent;
    }
  }
}
