@use "../presets" as *;
@use "../mixins" as *;

.btn {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1em;
  padding-left: 1em;
  padding-right: 1em;
  &:hover {
    background-color: $color-accent;
    transition: background-color 0.5s;
  }
}

.btn--light {
  background-color: #ffffff1a;
  border: 2px solid $color-light;
  @include lg-min {
    width: 250px;
    height: $gap-x3;
    font-size: 1.125rem;
  }
  @include lg-md {
    width: 200px;
    height: 50px;
  }
  @include md {
    width: 170px;
    height: 40px;
  }
}

.btn--primary {
  background-color: rgb($color-primary, 0.8);
  border: 2px solid $color-primary;
  height: $gap-x3;
  font-size: 1.125rem;

  @include sm-min {
    width: 350px;
  }
  @include sm {
    width: 100%;
  }
}
